h2 {
    color: maroon;
}


.btn-primary {
    background-color: maroon;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: maroon;
}

#displayArea ul {
    list-style-type: none;
    padding: 0;
}